<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msp.loanmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="msp.loanmanager.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="msp.loanmanager.GivenActivity" >
        </activity>
        <activity android:name="msp.loanmanager.Taken" >
        </activity>
        <activity android:name="msp.loanmanager.AddPersonActivity" >
        </activity>
        <activity android:name="msp.loanmanager.AddGroupActivity" >
        </activity>
        <activity android:name="msp.loanmanager.MainMenuActivity" >
        </activity>
        <activity
            android:name="msp.loanmanager.GroupListActivity"
            android:label="@string/title_activity_group_list"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="msp.loanmanager.PersonListActivity"
            android:label="@string/title_activity_person_list"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="msp.loanmanager.GiveActivity"
            android:label="@string/title_activity_give" >
        </activity>
        <activity
            android:name="msp.loanmanager.PersonDescriptionActivity"
            android:label="@string/title_activity_persons_describtion" >
        </activity>
        <activity
            android:name="msp.loanmanager.GroupDescriptionActivity"
            android:label="@string/title_activity_group_description" >
        </activity>
        <activity
            android:name="msp.loanmanager.LoanDescriptionActivity"
            android:label="@string/title_activity_loan_description" >
        </activity>
    </application>

</manifest>